<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Ffuenf Basis-Plugin (FfuenfCommon)</label>
    <version>1.2.4</version>
    <copyright>(c) by Achim Rosenhagen / ffuenf - Pra &amp; Rosenhagen GbR</copyright>
    <license>proprietary</license>
    <link>https://www.ffuenf.de</link>
    <author>ffuenf</author>
    <compatibility minVersion="5.5.0"/>
    <changelog version="1.2.4">
        <changes lang="en">add proper SEO-Link for product to transactional emails ({$details.additional_details.articlelink|lower})</changes>
    </changelog>
    <changelog version="1.2.3">
        <changes lang="en">add testing environment styling</changes>
    </changelog>
    <changelog version="1.2.0">
        <changes lang="en">add font preloading</changes>
        <changes lang="de">vorladen von Schriftarten hinzugefügt</changes>
    </changelog>
    <changelog version="1.1.2">
        <changes lang="en">add datadog real user monitoring for EU site</changes>
        <changes lang="de">DataDog Real User Monitoring (EU) hinzugefügt</changes>
    </changelog>
    <changelog version="1.1.1">
        <changes lang="en">add datadog real user monitoring</changes>
        <changes lang="de">DataDog Real User Monitoring hinzugefügt</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="en">add datadog frontend logging</changes>
        <changes lang="de">DataDog Frontend-Logging hinzugefügt</changes>
    </changelog>
    <changelog version="1.0.11">
        <changes lang="en">add cron monitoring</changes>
        <changes lang="de">Cron Monitoring hinzugefügt</changes>
    </changelog>
    <changelog version="1.0.8">
        <changes lang="en">add csp-reporting controller</changes>
        <changes lang="de">Controller für Content-Security-Policy Reports hinzugefügt</changes>
    </changelog>
    <changelog version="1.0.7">
        <changes lang="en">add cache warmup cron</changes>
        <changes lang="de">Cronjob für Cache-Warming hinzugefügt</changes>
    </changelog>
    <changelog version="1.0.6">
        <changes lang="en">Functions to prevend the plugin from beeing uninstalled or deactivated if there are any other dependent plugins active or installed</changes>
        <changes lang="de">Funktionen die das Deinstallieren und Deaktivieren des Plugins verhindern solange weitere abhängige Plugins installiert sind</changes>
    </changelog>
    <changelog version="1.0.5">
        <changes lang="en">
            fix viewDir
        </changes>
    </changelog>
    <changelog version="1.0.4">
        <changes lang="en">
            make backend-design variable via switch
        </changes>
        <changes lang="de">
            Schalter für Backend-Design
        </changes>
    </changelog>
    <changelog version="1.0.3">
        <changes lang="en">
            add test-suite ffuenf/SWTestStand
        </changes>
        <changes lang="de">
            Testing mit ffuenf/SWTestStand
        </changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="en">
            update backend design
        </changes>
        <changes lang="de">
            Aktualisierung des Backend-Designs
        </changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="en">
            implement logging
        </changes>
        <changes lang="de">
            Logging Funktionalität
        </changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="en">
            initial release
        </changes>
        <changes lang="de">
            Erstveröffentlichung
        </changes>
    </changelog>
</plugin>